.header{
margin: 20px 0;
width: 100%;
height: 40px;
background: white;
display: flex;
flex-direction: column;
align-items: center;
border-bottom : 1px solid #c7b38b;
}

.header__inner{
    max-width: 1230px;
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    color: #83755c;
    text-decoration: none;
    flex: none;
    font-weight: bold;
    font-size: 18px;
    
}
.header__nav{
    list-style: none;
    padding : 0px;
    background-color: pink;
    margin-left: auto;
    display: flex;
    flex: none;

    
}
.header__nav-item{
    margin : 0 auto;
    padding : 0px;
    
}
.header__nav-button{
    background : #F0EFE4;
    color : #c7b38b;
    font-size : 16px;
    padding : 5px 15px;
    border : 1px #c7b38b solid;
    
}