label{
  color:#83755c;
}
.contact-form__content{
    margin: 0 auto;
    padding: 10px 30px 100px 30px;
    max-width: 100%;

}

.contact-form__heading{
    margin-bottom: 20px;
    text-align: center;
    color: #83755c;
}

.form__group{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form__group-title{
    width: 40%;
    color:#695d54;
    margin: 20px auto;
    padding: 0 10px;

}

.form__label--item{
    color: #83755c
}

.form__label--required{
    color: red;
}

.form__group-content{
    width:80%;
    padding: 0 10px;
    margin: 20px 0 0 0;
}

.textbox{
    width:80%;
    box-sizing: border-box;
    margin:5px auto;
    padding:5px;
}

.textbox__name{
  display: inline-block;
}
.textbox__tel{
  display: inline-block;
}

.form-radio{
    color:#83755c;
    accent-color: #83755c;
}
textarea{
    width:100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding:10px;
}

.form-error{
    text-align: left;
    font-size:10px;
    color:red;
}

.form__button{
      display: flex;
      justify-content: center;
}
.form__button-submit{
    background: #695d54;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
}