.register__content{
    background: #ede4d7;
    margin: 0 auto;
    padding: 10px 30px 100px 30px;
    max-width: 100%;
}

.register__heading{
    margin-bottom: 20px;
    text-align: center;
    color: #83755c;
}

.form-group{
    max-width: 40%;
    background: white;
    border: 3px #83755c;
    margin: 0 auto;
    padding: 10px 100px;
}

.form__group-title{
  
    color:#695d54;
    font-size: 22px;
    margin: 20px auto;

}
.form__label--item{
    
    margin: 0 auto;
}

.form__group-content{
  
    margin-bottom: 5px;
    display: flex; 
    justify-content: center;
    
}

.textbox{
    width: 100%;
    border-radius: 2px;
    
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
}

.form-error{
    color: red;
}


.form__button-submit{
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background: #695d54;
    color: #fff;
    cursor: pointer;
}